<%= simple_form_for(@mailing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: t('title'), placeholder: 'Zgłoszenie na konferencję' %>
    <p>Witaj...</p>
    <%= f.input :body, as: :text, label: t('body'), placeholder: '<p>Przypominamy o potrzebie rejestracji</p>' %>
  </div>

    <br />
    <p>Pozdrawiamy,</p>
    <p>
      Organizatorzy kickstartu (Kasia, Kuba, Piotrek i Aga)
    </p>

    <p><%= link_to 'http://kickstartpolska.pl', root_url %></p>
    <hr />
    <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


