<%= simple_form_for(@donate) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :received %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
