<%= render 'dashboard/admin_navbar' %>

<h1>Edycja deklaracji wpłaty</h1>

<%= simple_form_for(@donate) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :amount, label: 'Kwota (zł)' %>
      <%= f.input :received %>
    </div>

    <div class="form-actions">
      <%= f.submit t('simple_form.labels.donate.new.submit'), class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>

<%= link_to t('back'), donates_path %>
