<p id="notice"><%= notice %></p>

<h1>Deklaracje wpłat</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('amount') %></th>
      <th><%= t('email') %></th>
      <th><%= t('first_name') %></th>
      <th><%= t('last_name') %></th>
      <th><%= t('received') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donates.each do |donate| %>
      <tr>
        <td><%= donate.amount %></td>
        <td><%= donate.email %></td>
        <td><%= donate.first_name %></td>
        <td><%= donate.last_name %></td>
        <td><%= donate.received %></td>
        <td><%= link_to t('show'), donate %></td>
        <td><%= link_to t('edit'), edit_donate_path(donate) %></td>
        <td><%= link_to t('destroy'), donate, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('back'), static_pages_main_path %>