<%= render 'dashboard/admin_navbar' %>

<h1>Deklaracje wpłat (<%= Donate.count %>)</h1>
<div class="row">
  <div class="col-sm-2">
    Liczba wyszukanych: <%= @donates.count %>
  </div>
  <div class="col-sm-6">
  <%= search_form_for @q do |f| %>   
      <%= f.search_field :first_name_or_last_name_or_email_cont  %>    
      <%= f.submit 'Szukaj' %>
  <% end %>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :amount, t('amount')) %></th>
      <th><%= sort_link(@q, :email, t('email')) %></th>
      <th><%= sort_link(@q, :first_name, t('first_name')) %></th>
      <th><%= sort_link(@q, :last_name, t('last_name')) %></th>
      <th><%= sort_link(@q, :my_plan, t('plan')) %></th>
      <th><%= sort_link(@q, :created_at, t('date')) %></th>
      <th><%= t('registered_numbers') %></th>
      <th><%= sort_link(@q, :received, t('received')) %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @donates.each do |donate| %>
      <tr>
        <td><%= donate.amount %></td>
        <td><%= donate.email %></td>
        <td><%= donate.first_name %></td>
        <td><%= donate.last_name %></td>
        <td><%= donate.my_plan %></td>
        <td><%= donate.created_at.strftime('%H:%M %d.%m.%y') %></td>
        <td><%= donate.users.try(:count) %></td>
        <td><%= checked(donate.received) %></td>
        <td>
        <% if !donate.received %>
              <%= link_to t('set_received'), set_received_donate_path(donate) %>
        <% end %>
        </td>
        <td><%= link_to t('edit'), edit_donate_path(donate) %></td>
        <td><%= link_to t('destroy'), donate, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @donates %>

<%= link_to t('back'), static_pages_main_path %>

