<h1>Zgłoszenie wpłaty na Kickstart</h1>

<p>
  <%= @greeting %>,
</p>
<p>
  Bardzo dziękujemy za chęć wsparcia kickstartu kwotą <%= @amount %> zł
</p>

<% if @above %>
Jesteśmy pod wrażeniem tak dużego wsparcia.
Prosimy o przekazanie środków osobiście albo o 2 osobne przelewy
tak by kwota jednego przelewu od jednej osoby nie przekroczyła kwoty 4702 zł.
<% end %>

<p>
  Będziemy wdzięczni za wpłatę na poniższe konto:
</p>
<br>

<p>
  Katarzyna Wasiak
</p>
<p>
  Numer konta: <strong><%= @account %></strong>
</p>
<p>
  W tytule: Darowizna
</p>
<br />

<hr />
<h4>Dane do przelewów zagranicznych</h4>
<p>
  IBAN: <strong><%= Donate.iban_number %></strong>
</p>
<p>
  SWIFT: <strong><%= Donate.swift_number %></strong>
</p>
<p>
  <strong><%= Donate.bank_name %></strong>
</p>
<p>
  <strong><%= Donate.bank_address %></strong>
</p>
<hr />

<p>
  Po zweryfikowaniu wpłaty prześlemy Ci link do formularza zgłoszeniowego.
</p>
<p>
  Pozdrawiamy,
</p>
<p>
  Organizatorzy kickstartu (Kasia, Kuba, Piotrek i Aga)
</p>

<p><%= link_to 'http://kickstartpolska.pl', root_url %></p>


