<h1>Zgłoszenie osób towarzyszących - Register others </h1>

<p>
  <%= @greeting %>!
</p>
<p>
  Kickstart już co raz bliżej!
</p>

<% if @companions_number > 1 %>
<p>
Zarezerwowałeś miejsce dla siebie i dla <%= @companions_number %> osób.
</p>

<p>
  Prosimy o wpisanie osób towarzyszących w poniższym formularzu:
</p>
<% else %>

    <p>
      Zarezerwowałeś miejsce dla siebie i jednej osoby.
    </p>

    <p>
      Zapisz tę osobę w poniższym formularzu:
    </p>

<% end %>
<p>
  <%= link_to 'formularz zgłoszeniowy', new_user_url %>
  </p>
<p>
W polu E-mail podaj Swojego maila.
  </p>
<p>
  Pomoże to nam przy rejestracji.
</p>
<p>
  Osoby niezarejestrowane nie będą wpuszczone na konferencje.
</p>

<br />

<hr>

<p>
  Kickstart is coming!
</p>

<% if @companions_number > 1 %>
    <p>
      You have registered yourself and <%= @companions_number %> other people.
    </p>

    <p>
      Please register them
    </p>
<% else %>

    <p>
      You have registered yourself and one person with you.
    </p>

    <p>
      Please register that person
    </p>

<% end %>
<p>
  <%= link_to ' here registration form', new_user_url %>
  </p>
<p>
  Fill E-mail with your email.
</p>
<p>
  This would help us with a check-in.
</p>
<p>
  Only registered person can participate on the conference!
</p>
