<h1><%= t('user.mailer.created.title') %></h1>

<p>
  <%= t('hey', name: @user.first_name) %>,
</p>
<p>
  <%= t('thank_you_for_registration') %>
</p>
<p>
  <%= t('please_print')%>
</p>
<p>
  <%= t('faster_checkin')%>
</p>
<hr />
<p>
  <%= t('id') %>: <%= @user.id %>
</p>
<p>
  <%= t('full_name') %>: <%= @user.full_name %>
</p>
<p>
  <%= t('email') %>: <%= @user.email %>
</p>
<p>
  <%= t('country') %>: <%= @user.country %>
</p>
<p>
  <%= t('city') %>: <%= @user.city %>
</p>
<% if @user.companions > 0 %>
<p>
  <%= t('mail.companions') %>: <%= @user.companions %>
</p>
<p>
  <hr />
 <span> <%= t('write_companions_names')%>: </span>
</p>
<% end %>

<hr />
<p>
  <%= t('cu_in_warsaw') %>
</p>



<h2><%= t('saturday_19_august') %></h2>

<table class="table table-hover">
  <tbody>
  <tr><td>9:00 - 10:00</td><td><%= t('program.registration') %></td></tr>
  <tr><td>10:00 - 11:25</td><td><%= t('program.teaching') %> 1</td></tr>
  <tr><td>11:30 - 13:00</td><td><%= t('program.teaching') %> 2 + modlitwy</td></tr>
  <tr><td>13:00 - 18:00</td><td><%= t('program.lunch_outreach') %></td></tr>
  <tr><td>18:00 - 21:30</td><td><%= t('program.teaching') %> 3</td></tr>
  </tbody>
</table>
<h2><%= t('sunday_20_august') %></h2>
<table class="table table-hover">
  <tbody>
  <tr><td>9:00 - 10:25</td><td><%= t('program.teaching') %> 4</td></tr>
  <tr><td>10:30 - 12:00 </td><td><%= t('program.teaching') %> 5</td></tr>
  <tr><td>12:00 - 16:00 </td><td><%= t('program.lunch_baptism') %></td></tr>
  <tr><td>16:00 - 17:25 </td><td><%= t('program.teaching') %> 6</td></tr>
  <tr><td>17:30 - 19:00</td><td><%= t('program.teaching') %> 7</td></tr>
  </tbody>
</table>
