<p id="notice"><%= notice %></p>

<h1>Waiting Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Fellowship</th>
      <th>City</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waiting_users.each do |waiting_user| %>
      <tr>
        <td><%= waiting_user.first_name %></td>
        <td><%= waiting_user.last_name %></td>
        <td><%= waiting_user.email %></td>
        <td><%= waiting_user.phone %></td>
        <td><%= waiting_user.fellowship %></td>
        <td><%= waiting_user.city %></td>
        <td><%= waiting_user.category %></td>
        <td><%= link_to 'Show', waiting_user %></td>
        <td><%= link_to 'Edit', edit_waiting_user_path(waiting_user) %></td>
        <td><%= link_to 'Destroy', waiting_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waiting User', new_waiting_user_path %>
