<%= render 'dashboard/admin_navbar' %>

<h1>Team Members (<%= TeamMember.count %>)</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :first_name, t('first_name')) %></th>
      <th><%= sort_link(@q, :last_name, t('last_name')) %></th>
      <th><%= sort_link(@q, :email, t('email')) %></th>
      <th><%= sort_link(@q, :phone, t('phone')) %></th>
      <th><%= sort_link(@q, :gender, t('gender')) %></th>
      <th><%= sort_link(@q, :accommodation, t('accomodation')) %></th>
      <th><%= sort_link(@q, :room, t('room')) %></th>
      <th><%= sort_link(@q, :pts, t('pts')) %></th>
      <th><%= sort_link(@q, :jesus_hotel_staff, t('jesus_hotel_staff')) %></th>
      <th><%= sort_link(@q, :created_at, t('created_at')) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_members.each do |team_member| %>
      <tr>
        <td><%= team_member.first_name %></td>
        <td><%= team_member.last_name %></td>
        <td><%= team_member.email %></td>
        <td><%= team_member.phone %></td>
        <td><%= team_member.gender %></td>
        <td><%= yes_no(team_member.accommodation) %></td>
        <td><%= team_member.room %></td>
        <td><%= yes_no(team_member.pts) %></td>
        <td><%= yes_no(team_member.jesus_hotel_staff) %></td>
        <td><%= team_member.created_at.strftime('%H:%M %d.%m.%y') %></td>
        <td><%= link_to 'Show', team_member %></td>
        <td><%= link_to 'Edit', edit_team_member_path(team_member) %></td>
        <td><%= link_to 'Destroy', team_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Member', new_team_member_path %>
