<%= render 'dashboard/admin_navbar' %>

<h1><%= t('Edytuj dane') %></h1>

<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.select :days, [[t('both_days_long'), 'all'],
                           [t('only_saturday'), 'saturday'],
                           [t('only_sunday'), 'sunday']
                        ], include_blank: false %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.select :gender, [
                                  [t('male'), 'male'],
                                  [t('female'), 'female'],
                          ] %>
      <%= f.input :companions %>
      <%= f.input :city %>
      <%= f.input :phone %>
      <%= f.input :fellowship %>
      <%= f.input :first_time %>
      <%= f.association :category %>
      <%= hidden_field_tag :token, @token %>
    </div>

    <div class="form-actions">
      <%= f.submit t('simple_form.labels.user.new.submit'), class: 'btn btn-primary btn-lg' %>
    </div>
<% end %>

<%= link_to t('user.back'), users_path %>
