<p>
  <strong><%= t('first_name') %>:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong><%= t('last_name') %>:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('city') %>:</strong>
  <%= @user.city %>
</p>

<p>
  <strong><%= t('phone') %>:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong><%= t('fellowship') %>:</strong>
  <%= @user.fellowship %>
</p>

<p>
  <strong><%= t('companions') %>:</strong>
  <%= @user.companions %>
</p>

<p>
  <strong><%= t('first_time') %>:</strong>
  <%= @user.first_time %>
</p>
<p>
  <strong><%= t('category') %>:</strong>
  <%= @user.category.try(:name) %>
</p>
<p><%= link_to t('add_user'), new_user_path(token: @user&.donate&.token), class: 'btn btn-primary' %></p>
<p>
    <%= link_to t('edit'), edit_user_path(@user) %> |
    <%= link_to t('back'), root_path %>
</p>
