<%= render 'dashboard/admin_navbar' %>
<h3><%= t('total') %>:</h3>
<table class="table table-hover">
  <tbody>
  <tr><td>Zarejestrowani</td><td><%= User.count %></td></tr>
  <tr><td>Zarejestrowani łacznie z osobami towarzyszącymi</td><td><%= User.count + User.total_companions %></td></tr>
  <tr><td>Liczba deklaracji wpłat</td><td> <%= Donate.count %></td></tr>
  <tr><td>Deklaracje wpłat bez rejestracji</td><td> <%= Donate.donors_not_registered.count %></td></tr>
  <tr><td>Lista rezerwowa</td><td> <%= WaitingUser.count %></td></tr>
  <tr><td>Członkowie team'u</td><td> <%= TeamMember.count %></td></tr>
  <tr><td>Zarejestrowani przez Eventbrite</td><td> <%= User.eventbrite_users %></td></tr>
  </tbody>
</table>

<p> </p>
<p></p>



<h3><%= t('city') %></h3>
<hr />
<%= pie_chart User.group(:city).count %>
<%= column_chart User.group(:city).count %>
<br />

<h3><%= t('fellowship') %></h3>
<hr />
<%= pie_chart User.group(:fellowship).count %>
<%= column_chart User.group(:fellowship).count %>
