<%= render 'dashboard/admin_navbar' %>
<h3><%= t('total') %>:</h3>
<table class="table table-hover">
  <tbody>
  <tr><td>Zarejestrowani</td><td><%= User.count %></td></tr>
  <tr><td>Liczba deklaracji wpłat</td><td> <%= Donate.count %></td></tr>

  <tr><td>Pierwszy raz</td><td><%= User.where(first_time: true).count %></td></tr>
  <tr><td>Członkowie team'u</td><td> <%= TeamMember.count %></td></tr>
  <tr><td>W sumie na sali (sobota)</td><td> <%= User.people_count_saturday %></td></tr>
  <tr><td>W sumie na sali (niedziela)</td><td> <%= User.people_count_sunday %></td></tr>

  </tbody>
</table>

<p> </p>
<p></p>



<h3><%= t('country') %></h3>
<table class="table table-hover">
  <tbody>
  <% User.group(:country).order('count_id desc').count(:id).each do |k,v| %>
    <tr><td><%= k %></td><td><%= v %></td></tr>
  <% end %>
  </tbody>
</table>
<br />
<h3><%= t('city') %></h3>
<table class="table table-hover">
  <tbody>
  <% User.group(:city).order('count_id desc').count(:id).each do |k,v| %>
    <tr><td><%= k %></td><td><%= v %></td></tr>
  <% end %>
  </tbody>
</table>
<br />
<h3><%= t('fellowship') %></h3>
<table class="table table-hover">
  <tbody>
  <% User.group(:fellowship).order('count_id desc').count(:id).each do |k,v| %>
    <tr><td><%= k %></td><td><%= v %></td></tr>
  <% end %>
  </tbody>
</table>
<br />

