<div class="col-9 links">
  <%= link_to 'Home', root_path %>|
  <%= link_to t('schedule'), static_pages_schedule_path %>|
  <% if User.seats_available? %>
    <%= link_to t('registration'), new_user_path %>|
  <% end %>
  <%= link_to t('support'), static_pages_support_path %>|
  <%= link_to t('questions'), qa_questions_path %>|
  <%= link_to t('contact'), static_pages_contact_path %>

  <% if User.seats_available? %>
    <%= link_to t('registration_english'), new_user_path(lang: 'en') %>
  <% end %>
</div>