<!DOCTYPE html>
  <html>
  <head>
    <meta property="og:title" content="Konferencja Kickstart Polska, Warszawa 19-20 Sierpnia" />
    <meta property="og:image" content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F32246013%2F201841607766%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C800%2C400&s=85a84bf4b7e19898d4cf46f46b311032" />

    <title>Kickstart Polska</title>
    <% if Rails.env.production? %>
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-101641973-1', 'auto');
        </script>
    <% end %>
  <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<header class="row">
  <a href="/">

  <div class="col-3">
    <div class="circle">
      <br />
      Kickstart
      <br />
      Polska
      <br />
      2017
    </div>
  </div>
  </a>
  <div class="col-5 links">
    <%= link_to 'Wsparcie', root_path %>
    <%= link_to 'Szczegóły', static_pages_details_path %>
    <%= link_to 'Kontakt', static_pages_contact_path %>
  </div>
</header>
<hr />
<br class="clear" />

<div class="container">
  <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
